x-repo-context: &repo_context ${REPO_CONTEXT:-.}

version: '3.9'
services:
  app:
    build:
      context: *repo_context
      dockerfile: Dockerfile
    ports:
      - "8444:8444"
    env_file:
      - .env
    environment:
      - PORT=8444
      - DB_HOST=mariadb
      - DB_USER=kidcoach
      - DB_PASSWORD=kidsecret
      - DB_DATABASE=kids
      - DB_PORT=3306
    depends_on:
      - mariadb
  mariadb:
    image: mariadb:11
    restart: unless-stopped
    environment:
      - MARIADB_ROOT_PASSWORD=supersecret
      - MARIADB_DATABASE=kids
      - MARIADB_USER=kidcoach
      - MARIADB_PASSWORD=kidsecret
    ports:
      - "3307:3306"
    volumes:
      - dbdata:/var/lib/mysql
volumes:
  dbdata:
